{
  "openapi": "3.1.0",
  "info": {
    "title": "Lhama NSFW API",
    "version": "2.0.0",
    "description": "API para análise de conteúdo NSFW em imagens e vídeos."
  },
  "servers": [
    {
      "url": "https://api.lhama.ambarks.com/"
    }
  ],
  "paths": {
    "/api/v2/lhama/image/check": {
      "post": {
        "tags": ["Image"],
        "summary": "Verificar imagem NSFW",
        "description": "Envia uma imagem para análise de conteúdo NSFW.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Arquivo de imagem para análise (jpg, png, etc)"
                  }
                },
                "required": ["file"]
              },
              "encoding": {
                "file": {
                  "contentType": "image/jpeg, image/png"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resultado da análise",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NSFWResponse"
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida"
          },
          "401": {
            "description": "Não autorizado"
          },
          "413": {
            "description": "Arquivo muito grande"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/api/v2/lhama/video/check": {
      "post": {
        "tags": ["video"],
        "summary": "Verificar vídeo NSFW",
        "description": "Envia um vídeo para análise de conteúdo NSFW.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Arquivo de vídeo para análise (mp4, mov, etc)"
                  }
                },
                "required": ["file"]
              },
              "encoding": {
                "file": {
                  "contentType": "video/mp4, video/quicktime"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resultado da análise",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NSFWResponse"
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida"
          },
          "401": {
            "description": "Não autorizado"
          },
          "413": {
            "description": "Arquivo muito grande"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "NSFWResponse": {
        "type": "object",
        "properties": {
          "data": {
              "id": "NL0HPOD85W",
              "status": "COMPLETE",
              "nsfw": true,
              "webhook": "NOT::AVALIABLE",
              "nsfw_data": {
                  "porn": 0.9319,
                  "simple": 0.054,
                  "sexy": 0.01,
                  "hentai": 0.0037,
                  "cartoon": 0.0003
              },
              "created_at": "2026-03-31T09:32:09.599Z",
              "error": false,
              "success": true
          }
        },
        "required": ["data"]
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}