{
  "openapi": "3.1.0",
  "info": {
    "title": "Lhama NSFW API",
    "version": "2.0.0",
    "description": "API para análise de conteúdo NSFW em imagens e vídeos."
  },
  "servers": [
    {
      "url": "https://api.lhama.ambarks.com/api/v2"
    }
  ],
  "paths": {
    "/lhama/image/check": {
      "post": {
        "summary": "Verificar imagem NSFW",
        "description": "Envia uma imagem para análise de conteúdo NSFW.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Arquivo de imagem para análise (jpg, png, etc)"
                  }
                },
                "required": ["file"]
              },
              "encoding": {
                "file": {
                  "contentType": "image/jpeg, image/png"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resultado da análise",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NSFWResponse"
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida"
          },
          "401": {
            "description": "Não autorizado"
          },
          "413": {
            "description": "Arquivo muito grande"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    },
    "/lhama/video/check": {
      "post": {
        "summary": "Verificar vídeo NSFW",
        "description": "Envia um vídeo para análise de conteúdo NSFW.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Arquivo de vídeo para análise (mp4, mov, etc)"
                  }
                },
                "required": ["file"]
              },
              "encoding": {
                "file": {
                  "contentType": "video/mp4, video/quicktime"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resultado da análise",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NSFWResponse"
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida"
          },
          "401": {
            "description": "Não autorizado"
          },
          "413": {
            "description": "Arquivo muito grande"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "NSFWResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status do processamento",
            "example": "COMPLETE"
          },
          "nsfw": {
            "type": "boolean",
            "description": "Indica se o conteúdo é NSFW",
            "example": true
          },
          "score": {
            "type": "number",
            "description": "Probabilidade de ser NSFW (0 a 1)",
            "example": 0.87
          }
        },
        "required": ["status", "nsfw", "score"]
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}